@charset "utf8";

body{
    background: rgba(36, 68, 214, 0.699);
    font: normal 1.3em arial;
}

header{
color: white;
text-align: center;
}

section{
background-color: white;
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);

}

#number_entada {
    width: 100px;
}

#flista{
    width: 150px;
    margin-top: 15px;
}

div{
    padding: 8px;
}
#imagem{
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

#imagem:hover{
        transition: 0.8s;
        transform: scale(1.1);
}

footer{
color: white;
text-align: center;
}

#footer a{
text-decoration: none;
color: white;
font-family: Arial, Helvetica, sans-serif;
}

#footer a:hover{
    font-family: cursive, Arial, Helvetica, sans-serif;
    text-decoration: underline;
    color: black;
    background-color: white;
    width: 150px;
    height: 150px;
    padding: 10px;
    border-radius: 15px;
}